Hotel/Hotel/Service References/Hotel_Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRooms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Reserve_Room_InputMessage">
    <wsdl:part name="parameters" element="tns:Reserve_Room" />
  </wsdl:message>
  <wsdl:message name="IService1_Reserve_Room_OutputMessage">
    <wsdl:part name="parameters" element="tns:Reserve_RoomResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllRooms" message="tns:IService1_GetAllRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllRoomsResponse" message="tns:IService1_GetAllRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reserve_Room">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Reserve_Room" message="tns:IService1_Reserve_Room_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Reserve_RoomResponse" message="tns:IService1_Reserve_Room_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRooms">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve_Room">
      <soap:operation soapAction="http://tempuri.org/IService1/Reserve_Room" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hotel_Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>